@import './../../assets/less/variables.less';

.new-board-btn {
	background: #fff;
	border: none;
	width: 250px;
	height: 217px;
font-size: 28px;
}

.main-wrap, .board-wrap {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 20px;
}