@import './../../assets/less/variables.less';
.ant-switch {
  box-shadow: 0 0 0 2px #d8e6df;
}

.ant-switch-checked {
  background-color: rgba(0, 0, 0, 0.25);
 box-shadow: 0 0 0 2px #d8e6df;
}

.ant-switch:focus {
  outline: 2px;
  box-shadow: 0 0 0 2px #d8e6df;
}
.header {
  .transition;
   height: 70px;
   box-shadow: none;
}
.scrolled {
box-shadow: 0 0 14px 0 #417d8b;
height: 60px;
}
.auth-wrap {
    display: flex;
    min-width: 150px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
}
.boards-block,.logo-wrap {
  margin-left: 20%;
  display: flex;
  height: 100%;
  align-items: center;
}

 .logo-wrap{
margin-left: 0;
}
.signin-span {
  display: block;
 background-image: url('./../../assets/images/signin.svg');
    background-size: 14px 14px;
    background-repeat: no-repeat;
    width: 15px;
    margin-bottom: -2px;
    height: 14px;
}
.panda { font-size: '48px' }
@media screen and (max-width: 700px){
.boards-block{
    margin-left: 10px;
}}