@import './../../assets/less/variables.less';
.ant-layout-footer {
padding:0;
	.footer-inner-wrap {
background-image: url('./../../assets/images/footer-pic.jpg');
height: 150px;
width: 100%;
background-size: 100% 100%;
display: flex;
 align-items:flex-end;
justify-content: space-between;
padding:10px 50px;
	}
	  .team-contacts {
    list-style: none;

  }
}
.footer-image {
  margin-right: 25px;

  & img {
    width: 100px;
    height: 70px;
  }
}
.footer-date {
color:@color-light;
}