@import './../../assets/less/variables.less';
		.ant-col-offset-8 {
    margin-left: 0
}
@media (max-width: 575px){
	.ant-form .ant-form-item .ant-form-item-control {
    flex: 0 0 100%;
     max-width:calc(100% - 20px) ;}
							.ant-col-offset-8 {
    margin-left: 0
}
}
