 .transition {
	transition: all 0.3s ease-out;
}

@gray: #a6a5ab;
@bg-gray: #f5f5f5;
@color-light: #F2F8F5;
@color-dark:#32384d;
.font-medium {
	font-size: 16px;
	font-weight: 500;
}

.font-h3{
	font-size: 56px;
	font-weight: 800;
}
.shadow {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1470px) {

}
