@import '~antd/dist/antd.less';

.App {
  text-align: center;
}

.ant-layout-header {
      position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}